<div class="container mt-4">
  <h2>Evaluador de Vivienda</h2>
  
  <form [formGroup]="formEvaluacion" (ngSubmit)="onSubmit()">
    
    <div class="mb-3">
      <label class="form-label">Dirección</label>
      <input type="text" formControlName="direccion" class="form-control">
      @if (formEvaluacion.get('direccion')?.invalid && formEvaluacion.get('direccion')?.touched) {
        <small class="text-danger">La dirección es obligatoria.</small>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Metros Cuadrados</label>
      <input type="number" formControlName="metros" class="form-control">
      @if (formEvaluacion.get('metros')?.invalid && formEvaluacion.get('metros')?.touched) {
        <small class="text-danger">Ingrese un valor válido de metros.</small>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Número de Habitaciones</label>
      <input type="number" formControlName="habitaciones" class="form-control">
      @if (formEvaluacion.get('habitaciones')?.invalid && formEvaluacion.get('habitaciones')?.touched) {
        <small class="text-danger">Ingrese el número de habitaciones.</small>
      }
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formEvaluacion.invalid">
      Evaluar Propiedad
    </button>

  </form>
</div>