
.eval-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    
}

.eval-container form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cta-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: var(--gray-light);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  font-size: large;
}

.cta-group input {
    border: none;
    border-radius: 5px;
    text-align: right;
}
.text-danger {
    color: red;

}
.btn-eval {
  background: var(--primary-light);
  color: var(--deep-forest);
  padding: 1rem 2rem;
}
