:root {
  --primary-light: #c8e07b;
  --primary-main: #587d4e;
  --accent-purple: #8686d1;
  --neutral-tan: #b09761;
  --deep-forest: #24441c;
  --white: #ffffff;
  --gray-light: #ebebeb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:sans-serif, system-ui;
  color: var(--deep-forest);
  line-height: 1.6;
  background-color: var(--white);
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  transition: all 0.2s ease;
}

button:hover {
  filter: brightness(90%);
  transform: translateY(-1px);
}

